*{
   margin:0;
   padding:0;
   box-sizing: border-box;
   scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background: #0c1022;
  color: #fff;
}

h1, h2, h3, h4 {
  font-family: 'Orbitron', sans-serif;
}

.navbar{
    background:rgba(255,255,255,0.2);
    backdrop-filter:blur(6px);
    position: fixed;
    width: 100%;
}

.nav-link {
  color: #ffff;
  font-size: 0.8rem;
}

.navbar-toggler {
  color: #fff;
  border: none;
}

.home-header {
  background-image: url("img/FondoJuego3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-header > div > div:nth-child(1) {
  height: 80vh;
}

#colecciones{
  background-image: url("img/FondoJuego3.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card {
  border: none;
}

.card{
  --bs-card-bg: rgb(255, 167, 35);
  --bs-card-color: #fff;
}

.colec-btn {
  color: #fff;
  background-color: #f26522;
  border: none;
  --bs-btn-padding-y: 1rem;
  --bs-btn-padding-x: 2rem;
}

.footer {
  background: #8b0000;
  padding: 60px 0 20px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.copy {
  text-align: center;
  margin-top: 30px;
  font-size: 14px;
}

@media (max-width: 992px) {
  
}

@media (max-width: 768px) {
  
}
